@main-font: 'OpenSans', 'Arial', sans-serif;
@color-green: #63d1bb;
@color-green-dark: #56c3b2;
@color-black: #000000;
@color-white: rgba(255, 255, 255, 1);
@color-white-opacity: rgba(255, 255, 255, 0.9);
@color-gray: #f1f1f1;
@color-gray-dark: #ececec;
@mobile-widths-only: ~'(max-width: 767px)';
@tablet-widths: ~'(min-width: 768px)';
@desktop-widths: ~'(min-width: 1200px)';
