.btn {
  display: block;
  width: 100%;
  font-family: @main-font;
  font-weight: 600;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-black;
  border: 2px solid @color-black;
  box-sizing: border-box;
  &:hover {
    background-color: @color-black-btn;
    color: @color-white;
  }
  &:active {
    background-color: @color-black-btn;
    color: @color-white-active;
  }
  @media @tablet-widths {
    width: 230px;
  }
  &--goods-order {
    @media @tablet-widths {
      width: 292px;
    }
  }
  &--modal-add {
    background-color: @color-green;
    border: none;
    color: @color-white
  }
  &--form-order-submit {
    background-color: @color-white;
  }
  &--reviews-write {
    margin-top: 30px;
    @media @tablet-widths {
      width: 174px;
      order: 1;
      margin: 0;
    }
  }
  &--contacts-write {
    @media @tablet-widths {
      margin: 0 auto;
    }
    @media @desktop-widths {
      margin-left: 0;
      margin-right: auto;
    }
  }
  &--production-process-checkout {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 192px;
    @media @tablet-widths {
      order: 4;
      width: 100%;
    }
    @media @desktop-widths {
      position: absolute;
      top: 345px;
      right: 110px;
      width: 230px;
      margin: 0;
    }
  }
}
