.btn {
  display: block;
  width: 100%;
  font-family: @main-font;
  font-weight: 600;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-black;
  border: 2px solid @color-black;
  box-sizing: border-box;
  @media @tablet-widths {
    width: 230px;
  }
  &--modal-add {
    background-color: @color-green;
    border: none;
    color: @color-white
  }
  &--form-order-submit {
    background-color: @color-white;
  }
  &--reviews-write {
    margin-top: 30px;
    @media @tablet-widths {
      width: 175px;
      order: 1;
      margin: 0;
    }
  }
  &--contacts-write {
    @media @tablet-widths {
      margin: 0 auto;
    }
  }
  &--production-process-checkout {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 192px;
  }
}
