.catalog {
  &__title {
    background-color: #f1f1f1;
    text-align: center;
    padding: 75px 0;
  }
  &__wrapper {

  }
  &__list {

  }
  &__item {
    width: 260px;
  }
  &__item-link {
    text-decoration: none;
    color: black;
  }
  &__item-description {
    display: flex;
    flex-wrap: wrap;
  }
  &__item-title {
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
  }
  &__item-parametr {
    font-family: @main-font;
    font-weight: 400;
    font-size: 13px;
  }
  &__item-cost {
    font-family: @main-font;
    font-weight: 600;
    font-size: 15px;
  }
  &__item-add-cart {
    background: url('../img/icon-cart.svg') no-repeat;
    width: 21px;
    height: 19px;
  }
}
