.catalog {
  .container();
  .catalog__title {
    font-family: @main-font;
    font-weight: 600;
    font-size: 27px;
    background-color: @color-gray;
    text-align: center;
    padding: 75px 0;
    margin: 0;
    @media @tablet-widths {
      font-size: 47px;
    }
  }
  .catalog__wrapper {
    .wrapper();
  }
  .catalog__list {
    @media @desktop-widths {
      display: flex;
      justify-content: space-between;
    }
  }
  .catalog__item {
    padding: 30px 0 0 0;
    width: 260px;
    @media @tablet-widths {
      width: 334px;
      display: flex;
    }
    @media @desktop-widths {
      width: 316px;
      flex-direction: column;
    }
  }
  .catalog__item-link {
    text-decoration: none;
    color: @color-black;
  }
  .catalog__img-link {
    width: 100%;
    height: 100%;
    display: block;
    @media @tablet-widths {

    }
  }
  .catalog__item-wrapper {
    @media @tablet-widths {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .catalog__item-description {
    padding: 30px 0;
    width: 200px;
    margin: 0 auto;
    @media @tablet-widths {
      width: 334px;
      min-height: 165px;
      padding: 30px 34px;
      box-sizing: border-box;
    }
    @media @desktop-widths {
      width: 316px;
      min-height: auto;
    }
  }
  .catalog__item-order {
    position: relative;
    padding: 30px 34px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @color-gray-dark;
    @media @tablet-widths {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 266px;
        height: 1px;
        top: 0;
        left: 34px;
        height: 1px;
        background-color: @color-gray-dark;
      }
    }
  }
  .catalog__item-title {
    margin: 0;
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
    @media @tablet-widths {
      font-size: 20px;
    }
  }
  .catalog__item-parametr {
    display: inline-block;
    margin-top: 15px;
    font-family: @main-font;
    font-weight: 400;
    font-size: 13px;
    @media @tablet-widths {
      font-size: 15px;
    }
  }
  .catalog__item-cost {
    font-family: @main-font;
    font-weight: 600;
    font-size: 15px;
    @media @tablet-widths {
      font-size: 17px;
    }
  }
  .catalog__item-add-cart {
    background: url('../img/icon-cart.svg') no-repeat;
    width: 21px;
    height: 19px;
  }
}
