.contacts {
  &__wrapper {

  }
  &__title {
    font-family: @main-font;
    font-weight: 600;
    font-size: 18px;
  }
  &__email {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
  }
  &__email-title {

  }
  &__email-text {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid @main-green;
  }
  &__address {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
  }
  &__address-title {

  }
  &__address-text {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
  }
  &__map {

  }
  &__map-img {

  }
}
