.copyright {
  display: flex;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  @media @tablet-widths {
    padding: 0;
  }
  .copyright__label {
    font-family: @main-font;
    font-weight: 600;
    font-size: 19px;
  }
  .copyright__link {
    margin-left: 20px;
    display: block;
    font-size: 0;
    background: url('../img/htmlacademy.svg') no-repeat;
    width: 40px;
    height: 40px;
  }
}
