.goods {
  .goods__wrapper {

  }
  .goods__title {
    font-family: @main-font;
    font-weight: 600;
    font-size: 25px;
  }
  .goods__label {
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: @color-green;
  }
  .goods__description {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
  .goods__table {
    border-collapse: collapse;
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
  }
  .goods__table-row {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid @color-gray-dark;
  }
  .goods__table-cell {

  }
  .goods__img {

  }
  .goods__price {
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
  }
}
