.goods {
  .container();
  padding: 30px 0;
  @media @desktop-widths {
    padding-top: 180px;
    padding-left: 125px;
    box-sizing: border-box;
  }
  .goods__wrapper {
    .wrapper();
    @media @tablet-widths {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
    }
    @media @desktop-widths {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .goods__title {
    margin: 0 0 10px 0;
    font-family: @main-font;
    font-weight: 600;
    font-size: 25px;
    @media @tablet-widths {
      font-size: 43px;
      line-height: 50px;
    }
    @media @desktop-widths {
      font-size: 53px;
    }
  }
  .goods__label {
    display: inline-block;
    margin-bottom: 15px;
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: @color-green;
    @media @tablet-widths {
      position: absolute;
      top: 7px;
      right: 60px;
      width: 100px;
      text-align: center;
    }
    @media @desktop-widths {
      position: absolute;
      left: -105px;
      top: 10px;
    }
  }
  .goods__description {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    @media @tablet-widths {
      width: 292px;
      font-size: 17px;
    }
  }
  .goods__table {
    border-collapse: collapse;
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
  }
  .goods__table-row {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid @color-gray-dark;
    @media @tablet-widths {
      width: 292px;
    }
  }
  .goods__table-cell {
    &:first-child {
      width: 100px;
    }
  }
  .goods__img {
    display: block;
    margin: 30px 0;
    @media @tablet-widths {
      position: absolute;
      top: 50px;
      right: 60px;
    }
    @media @desktop-widths {
      top: -100px;
    }
  }
  .goods__price {
    display: block;
    margin: 30px 0;
    font-family: @main-font;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    @media @tablet-widths {
      width: 292px;
      margin-top: 55px;
      margin-bottom: 37px;
      font-size: 20px;
    }
  }
}
