.intro {
  &__wrapper {
    padding: 0 30px;
  }
  &__category-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__category-item {
    padding: 30px;
    &--interior {
      background-color: @main-green;
    }
    &--toys {
      background-color: #56c3b2;
    }
  }
  &__category-link {
    font-family: @main-font;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    color: white;
  }
}
