.intro {
  .intro__wrapper {
    padding: 0 30px;
  }
  .intro__category-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .intro__category-item {
    padding: 30px;
    &--interior {
      background-color: @color-green;
    }
    &--toys {
      background-color: @color-green-dark;
    }
  }
  .intro__category-link {
    font-family: @main-font;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    color: @color-white;
  }
}
