.main-menu {
  &__open-menu {
    background: url('../img/icon-menu-open.svg') no-repeat;
    display: block;
    width: 20px;
    height: 14px;
  }
  &__close-menu {
    background: url('../img/icon-menu-close.svg') no-repeat;
    display: none;
    width: 21px;
    height: 20px;
  }
  &__menu-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__menu-item {
    padding-left: 45px;
  }
  &__menu-link {
    font-size: 17px;
    font-family: @main-font;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
}
