.reviews {
  .reviews__wrapper {

  }
  .reviews__title {
    font-family: @main-font;
    font-weight: 600;
    font-size: 25px;
  }
  .reviews__list {

  }
  .reviews__item {

  }
  .reviews__text {
    font-family: @main-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
  .reviews__user-name {
    font-family: @main-font;
    font-weight: 600;
  }
  .reviews__user-address {
    font-family: @main-font;
    font-weight: 400;
  }
  .reviews__controls {
    padding: 12px 0;
    border: 2px solid @color-gray-dark;
    display: flex;
    justify-content: space-around;
  }
  .reviews__btn {
    text-indent: -9999px;
    &--prev {
      display: block;
      background: url('../img/icon-left-arrow.svg') no-repeat;
      width: 51px;
      height: 26px;
    }
    &--next {
      display: block;
      background: url('../img/icon-right-arrow.svg') no-repeat;
      width: 51px;
      height: 26px;
    }
  }
}
